# Ignore the test/typesense-data/ directory and its contents.
# Ignore all files and folders inside test directory, but not the directory itself.
test/*
!test/

# Ignore the .git directory.
.git

# Ignore the .gitignore file.
.gitignore

# Ignore the Dockerfile.
Dockerfile

# Ignore the LICENSE file.
LICENSE
# Ignore all .md files.
*.md

# Ignore .kilocode directory
.kilocode/
