# Ignore the test/typesense-data/ directory and its contents.
test/typesense-data/

# Ignore all files and folders inside test directory, but not the directory itself.
test/*
!test/

# Ignore the .git directory.
.git

# Ignore the .gitignore file.
.gitignore

# Ignore the Dockerfile.
Dockerfile